html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#map {
    height: 100%;
    width: calc(100% - 25em);
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 25em;
    height: 100%;
    box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.125);
    overflow: hidden;
}

.location-list {
    height: 100%;
    overflow-y: auto;

}

.location {
    padding: 0.8em;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s;
    cursor: pointer;
}

.location:hover {
    background-color: #eee;
}

.location-name {
    font-weight: bold;
}

.location-address {
    font-size: 0.8em;
}

.infowindow {
    padding: 0.6em;
    max-width: 32em;
}

.infowindow-name {
    font-size: 1.4em;
    font-weight: bold;
}

.infowindow-rating {
    display: block;
    font-size: 1.2em;
}

.infowindow-stars {
    display: inline;
    font-size;
}

.infowindow-image {
    max-width: 100%!important; /* this needs to override the Google-set style declaring a max-width of none */
}

.infowindow-review-title {
    font-size: 1.2em;
    font-weight: bold;
}

.infowindow a {
    display: block;
    padding: 0.8em 0;
}
